<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzDt5l5v2ADp3XyxJDQuNKQsJg86uItdA</string>
	<key>GCM_SENDER_ID</key>
	<string>311516179081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.property.crm</string>
	<key>PROJECT_ID</key>
	<string>propertize-crm</string>
	<key>STORAGE_BUCKET</key>
	<string>propertize-crm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311516179081:ios:631360eceb7c9f9c85b458</string>
</dict>
</plist>